<div *ngIf="getrem.length==0">
    <img src="assets/edit.svg" alt="" width="10%">
    <p>Notes with upcoming reminders appear here</p>
</div>

<div class="notes-section" *ngIf="getrem.length!=0">
    <h2>Remainder Notes:</h2> 
        <mat-card *ngFor="let r of getrem">
            <mat-card-title> {{r?.title}}</mat-card-title>
            <mat-card-content> {{r?.text}}</mat-card-content>
            <mat-card-content>
                <button (click)="Pin(r)"> 
                    <mat-icon>push_pin</mat-icon>
                </button>
                <button (click)="Remind(r)"> 
                    <mat-icon>unarchive</mat-icon>
                </button>
                <button (click)="Trash(r)"> 
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
    </div>