<div class="notes-section" *ngIf="notes && notes.length">
<h2>Your Notes:</h2> 
    <mat-card *ngFor="let note of notes">
<div>
    <mat-card-title>{{note.title}}</mat-card-title>
    <mat-card-content>{{note.text}}</mat-card-content>
    <mat-card-content>
        <button (click)="RemaindNote(note)"> 
            <mat-icon>notifications_none</mat-icon>
        </button>
        <button (click)="ArchNote(note)"> 
            <mat-icon>archive</mat-icon>
        </button>
        <button (click)="BinNotes(note)"> 
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-content>
</div>
    </mat-card>
</div>