<div *ngIf="getarcdata.length==0">
    <img src="assets/edit.svg" alt="" width="10%">
    <p>Notes with Archieve appear here</p>
</div>
<div class="notes-section" *ngIf="getarcdata.length!=0">
    <h2>Archieve Notes:</h2> 
        <mat-card *ngFor="let g of getarcdata">
            <mat-card-title> {{g?.title}}</mat-card-title>
            <mat-card-content> {{g?.text}}</mat-card-content>
            <mat-card-content>
                <button (click)="Pin(g)"> 
                    <mat-icon>push_pin</mat-icon>
                </button>
                <button (click)="UnArchieve(g)"> 
                    <mat-icon>unarchive</mat-icon>
                </button>
                <button (click)="Trash(g)"> 
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
    </div>