mat-sidenav-container {
  height: 100vh;
}
mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}
mat-sidenav {
  background-color: #feefc3;
  width: 200px;
}
mat-icon {
  cursor: pointer;
  margin-right: 20px;
}
.mat-raised-button{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.6em;
  color: black;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: red;
    outline: 0;
  }
}
.mat-toolbar.mat-primary {
  background: #feefc3;
  color: #000;
}
button{
  all: unset;
}