<div class="register-page">
    <div class="form">
        <form class="register-form" #registerForm="ngForm">
          <h1>Registration Here</h1>
        <input matInput type="text" placeholder="name" name="name"  ngModel/>
        <input matInput type="password" placeholder="password" name="password" ngModel/>
        <input matInput type="text" placeholder="email address" name="email" ngModel/>
        <button (click)="doRegister(registerForm)">Register</button>
        <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
      </form>
    </div>
  </div>