<p>{{errMessage}}</p>
<!-- <form  class="example-form">
    <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. my roll number" name="title" [(ngModel)]="note.title" >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." name="text" [(ngModel)]="note.text" ></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
    </mat-form-field>
    <button class="btn" (click)="addNote()">Add Note</button>
</form> -->
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eveniet!</p> -->
<div class="add-note-section">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Take a note
          </mat-panel-title>
        
        </mat-expansion-panel-header>
      
    
        <mat-form-field class="mat-input">
          <input matInput placeholder="title" name ="title" [(ngModel)]="note.title">
        </mat-form-field>
      
        <mat-form-field class="mat-input">
          <textarea matInput placeholder="text" name ="text" [(ngModel)]="note.text"></textarea>
        </mat-form-field>
      
        <div class="mat-input">
          <button mat-button (click)="addNote()">Done</button>
        </div>
      </mat-expansion-panel>
    </div>

<router-outlet></router-outlet>